.main {
    margin-top: 20px;
    color: #fff;
	font-size: 14px;
}
/* link */
.main a {
	color: #fff;
	text-decoration: underline;
}
.main a:hover {
	color: #fff;
	text-decoration: none;
}
.main a:visited {
	color: #ccc;
	text-decoration: underline;
}
/* common */
.main h1.title {
}
.main h2.title {
	position: relative;
	padding: 35px 25px 10px 0px;
	margin-bottom: 0;
	text-align: left;
	_zoom: 1;
}
.main .event_list {
	position: relative;
	margin-bottom: 30px;
}
.main .event_list h3 {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3;
}
.main .event_list h3.blank a {
	background: url(/common/img/icon_blank.gif) right center no-repeat;
	padding-right: 21px;
}
.main .link {
	position: absolute;
	right: 0;
	_right: 25px;
	top: 28px;
}
.main .footer_link li {
	float: right;
}
.main .link li {
	float: left;
	margin-left: 5px;
}
.main .pickup,
.main .event_list_archive {
	padding: 0;
	margin-top: -35px;
	margin-bottom: 20px;
}
/* event-container */
#event-container
{
	font-size:13px;
	font-weight:100;
	line-height:130%;
	/*font-family: Meiryo, Lucida Grande, Arial,Hiragino Kaku Gothic Pro, verdana, 'Trebuchet MS', Helvetica, sans-serif;*/
}

#contents_head_container
{
	width:1000px;
	height:72px;
	background-color:#050505;
	text-align:center;
}

#btn-archive
{
	position:absolute;
	left:877px;
	top:17px;
}

#btn-feed
{
	position:absolute;
	left:966px;
	top:17px;
}

#pickup-container
{
	position:relative;
	width:1000px;
	height:305px;
}

#title-pickup
{
	position:absolute;
}

#img-container img
{
	position:absolute;
}

#img-container
{
	position:absolute;
	width:1000px;
	height:305px;
	overflow:hidden;
}

#btn-prev
{
	position:absolute;
	left: 164px;
	top: 115px;
	visibility:hidden;
}

#btn-next
{
	position:absolute;
	left: 820px;
	top: 115px;
	visibility:hidden;
}

#notes
{
	position:absolute;
	width: 620px;
height: 28px;
left: 190px;
	top: 272px;
	text-align:center;
	font-size: 14px;
	background: #FFFFFF;
	border-radius: 50px;	
}

#notes-text
{
	margin-top: 0;
	color:#333;
	line-height: 28px;
}

#main-container
{
	/* width:1000px; */
	text-align:center;
}

.title-bar
{
	width:972px;
	margin:0 auto;
}

.title-bar-margin
{
	width:972px;
	margin:0 auto;
	margin-top:20px;
}

.event-container .event-main
{
	margin: 0 0 10px 10px;
	width: 475px;
	min-height: 1em;
	display: block;
	float: left;
	background: url(/common/img/list_bg.png) left top repeat;
	cursor: pointer;
	padding: 10px;
}
.event-container .hover
{
	background: url(/common/img/list_bg_o.png) left top repeat;
}

.event-container .hover a{
	text-decoration: none;
}
.ie6 .event-container .event-main,
.ie7 .event-container .event-main{
	width: 473px;
	background: none;
	border: #1a66a3 solid 1px;
}
.ie6 .event-container .hover,
.ie7 .event-container .hover{
	width: 473px;
	background: none;
	border: #003372 solid 1px;
}

.event-other-container
{
	width:477px;
	text-align:left;
	background-image:url(../images/event_other_bg.gif);
	background-repeat:no-repeat;
}

.event-subaru-container a
{
	text-decoration:none;
}

.event-other-container a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.hdr-ftr
{
	width:477px;
}
.event-container
{
	text-align: left;
	width: auto;
	margin: 0px 0 0 -10px;
}
.ie6 .event-container
{
	margin: 15px 0 0 -20px;
}

.event-container .event-main:after
{
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

.event-container .thumbnail
{
	float:left;
	width:140px;
	margin-right: 12px;
	margin-bottom: 10px;
}
.event-container .thumbnail img{
	max-width: 140px;
	height: auto;
}
.event-container .text-area
{
	float:left;
	width:305px;
	min-height: 90px;
	margin-bottom: 10px;
}
.ie6 .event-container .text-area
{
	height: 90px;
}

.event-container .text-area p
{
	margin-top:6px;
	font-size:14px;
	font-weight:normal;
	 line-height: 1.6;
}
.event-container .term-container dt
{
	width: 64px;
	height: 19px;
	line-height: 19px;
	margin-bottom: 0;
}
.event-container .term-container dd
{
	margin-left: 74px;
	margin-top: -19px;
	margin-bottom: 5px;
	line-height: 1.4;
	font-size: 14px;
}




.foot-margin
{
	height:10px;
}

#banner-container
{
	width:1000px;
	margin:0 auto;
	margin-top:20px;
}

.banners-first
{
	
}

.banners
{
	margin-top:20px;
}


.banner-main-first
{
	float:left;
	width:226px;
	margin-left:14px;
}

.banner-main
{
	float:left;
	width:226px;
	margin-left:22px;
}

.banner-img
{
}

#banner-container p
{
	margin-top:5px;
	color:#FFF;
	font-size:14px;
	text-align:left;
}

/* #event-container a { display:block; } */

/* archive */
.event_list_archive {
	position: relative;
}
.event_list_archive .event_list {
	margin-left: -20px;
}
.ie6 .event_list_archive .event_list {
	margin-left: -40px;
}
.event_list_archive .event_list li {
	width:490px;
	float:left;
	background: url(/common/img/list_bg.png) left top repeat;
	background-position:left bottom;
	margin:0px 0px 15px 20px;
	padding:0px 0px 3px 0px;
	cursor: pointer;
}
.event_list_archive .event_list li.hover {
	background: url(/common/img/list_bg_o.png) left top repeat;
}
.ie6 .event_list_archive .event_list li,
.ie7 .event_list_archive .event_list li{
	width: 488px;
	background: none;
	border: #1a66a3 solid 1px;
}
.ie6 .event_list_archive .event_list li.hover,
.ie7 .event_list_archive .event_list li.hover{
	width: 488px;
	background: none;
	border: #003372 solid 1px;
}
.event_list_archive .event_list li .Bg {
	padding: 10px;
}

.event_list_archive .event_list li .photo img{
	float:left;
	width:100px;
	height: 58px;
	margin: 2px 9px 0px 0px;
}

.event_list_archive .event_list li .text {
	line-height:1.4;
	color:#C9CED4;
	margin:0px 0px 0px 109px;
	_font-size:12px;
}


.event_list_archive .event_list li .text h3 {
	padding: 0px;
	margin-bottom: 5px;
}
.event_list_archive .event_list li .text h3 img {
	vertical-align: top;
	padding: 5px 0 0 5px;
}
.event_list_archive .event_list li.left {
	margin:0px 18px 0px 0px;
}
.event_list_archive .event_list li .closed {
	color: #ff579e;
}
