@charset "UTF-8";
.ie6 body {
}
#contentsWrap {
}
#contents {
	padding-top: 40px;
	width: 1000px;
	margin: 0 auto
}
#carlineup_main {
	float: left;
	width: 750px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* ヘッダー メニュー */
#carlineup_menu {
	background: url(/carlineup/img/bg_head.png) no-repeat left top;
	height: 52px;
	margin-bottom: 10px;
	overflow: hidden;
}
#carlineup_menu h1 {
	float: left;
	margin-left: 22px;
	margin-top: 12px
}
#carlineup_switch {
	float: left;
	margin-left: 15px;
	margin-top: 12px;
}
#carlineup_switch li {
	float: left;
	margin-left: 2px;
}
#carlineup_func {
	float: right;
	margin-right: 15px;
	margin-top: 21px;
}
#carlineup_func li {
	float: left;
	margin-left: 7px;
	cursor: pointer;
}
.ie6 #carlineup_func {
	margin-right: 8px;
}
/* 複数車種比較 */
#carlineup_compare {
	display: none;
	position: relative;
	background: url(/carlineup/img/bg_compare.png) no-repeat left top;
	width: 723px;
	height: 236px;
	margin: 0 auto;
}
#compare_btn {
	text-align: right;
	padding-top: 12px;
	padding-right: 20px;
}
#droppable {
	padding: 10px 0 0 7px;
}
#droppable li {
	float: left;
	margin: 0 15px;
	position: relative;
}
.ie6 #droppable li {
	float: left;
	margin: 0 10px;
	position: relative;
}
#droppable li .droptarget {
	position: absolute;
	left: 12px;
	top: 15px;
}
#droppable li .btn {
	position: absolute;
	right: -9px;
	top: -9px;
	cursor: pointer;
	display: none;
}
#carlineup_compare_recommend {
	margin: 10px 20px;
	border-top: #727272 solid 1px;
}
#carlineup_compare_recommend h2 {
	margin-top: 12px;
	float: left;
	width: 195px;
}
#carlineup_compare_recommend ul {
	float: left;
	width: 480px;
	margin-left: 8px;
}
#carlineup_compare_recommend li {
	float: left;
	width: 160px;
}
#compare_alert {
	position: absolute;
	left: 190px;
	top: 40px;
	padding: 60px 70px;
	background: #ddd;
	border: solid 1px #aaa;
	color: #555;
	font-weight: bold;
	display: none;
}
/* 詳細条件 */
#carlineup_condition {
	display: none;
	background: url(/carlineup/img/bg_condition.png) no-repeat left top;
	width: 723px;
	height: 236px;
	margin: 0 auto;
}
#reser_btn {
	text-align: right;
	padding-top: 12px;
	padding-right: 20px;
}
#carlineup_bodytype {
	margin-top: 10px;
}
#carlineup_bodytype h1, #carlineup_bodytype ul {
	float: left;
	margin-left: 50px;
}
#carlineup_bodytype ul {
	margin-left: 10px;
}
#carlineup_bodytype li {
	float: left;
	margin: 0 10px;
	cursor: pointer;
}
.ie6 #carlineup_bodytype li {
	margin: 0 5px;
}
#carlineup_condition_pulldown {
	width: 620px;
	margin: 0 auto;
	margin-top: 20px;
}
#carlineup_condition_pulldown li {
	float: left;
	width: 310px;
	margin-bottom: 20px;
}
#carlineup_condition_pulldown h2 {
	float: left;
}
#carlineup_condition_pulldown .carlineup_pulldown {
	position: relative;
	float: left;
	width: 226px;
	height: 23px;
	background: url(/carlineup/img/bg_pulldown.png) no-repeat left top;
	font-size: 10px;
	color: #fff;
}
#carlineup_condition_pulldown .carlineup_pulldown p {
	padding: 4px 8px;
	width: 210px;
	cursor: pointer;
}
#carlineup_condition_pulldown .carlineup_pulldown_list {
	position: absolute;
	left: 0;
	top: 23;
	width: 226px;
	border-bottom: solid 1px #2d2d2d;
	display: none;
}
#carlineup_condition_pulldown .carlineup_pulldown_list li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#carlineup_condition_pulldown .carlineup_pulldown_list li a {
	display: block;
	padding: 5px 6px;
	width: 212px;
	background-color: #4e4f51;
	border: solid 1px #2d2d2d;
	border-bottom: none;
	color: #fff;
	text-decoration: none;
}
#carlineup_condition_pulldown .carlineup_pulldown_list li a:hover {
	background-color: #6f7276;
}
#carlineup_condition_pulldown #capacity {
	z-index: 105;
}
#carlineup_condition_pulldown #price {
	z-index: 104;
}
#carlineup_condition_pulldown #drive {
	z-index: 103;
}
#carlineup_condition_pulldown #exhaust {
	z-index: 102;
}
#carlineup_condition_pulldown #mission {
	z-index: 101;
}
#carlineup_condition_pulldown #capacityList {
	z-index: 205;
}
#carlineup_condition_pulldown #priceList {
	z-index: 204;
}
#carlineup_condition_pulldown #driveList {
	z-index: 203;
}
#carlineup_condition_pulldown #exhaustList {
	z-index: 202;
}
#carlineup_condition_pulldown #missionList {
	z-index: 201;
}
/* カーリスト */
#carlineup_list {
	display: none;
	z-index: 10;
}
#carlineup_list section {
	float: left;
	padding-top: 19px;
	margin-bottom: 15px;
}
#carlineup_list section div {
	padding-top: 20px;
}
#carlineup_list .carlineup_ml {
	margin-left: 3px;
}
.ie6 #carlineup_list section .carlineup_ml {
	margin-left: 3px;
}
#carlineup_list section li {
	float: left;
	margin-left: 0px;
	width: 183px;
	height: 175px;
	position: relative;
}
#carlineup_list section li.icnNew:after {
	content: "NEW";
	display: block;
	background-color: #008cc2;
	padding: 3px 5px 1px;
	color: #fff;
	font-size: 9px;
	position: absolute;
	top: 18px;
	left: 12px;
}
#carlineup_list .ui-draggable-dragging .car_spec_txt {
	display: none;
}
/*#carlineup_list section li img { background-color:#F00;}*/
#carlineup_list .car_spec_txt {
	position: absolute;
	bottom: 0;
	left: 9px;
}
#carlineup_list .carlineup_col1 {
	width: 183px;
	background: url(/carlineup/img/lineup_jyoyousha_box1.png) no-repeat left top;
}
#carlineup_list .carlineup_col2 {
	width: 372px;
	background: url(/carlineup/img/lineup_jyoyousha_box2.png) no-repeat left top;
}
#carlineup_list .carlineup_col3 {
	width: 561px;
	background: url(/carlineup/img/lineup_jyoyousha_box3.png) no-repeat left top;
}
#carlineup_list .carlineup_col4 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4.png) no-repeat left top;
}
#carlineup_list .carlineup_col4_2 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4_2.png) no-repeat left top;
}
#carlineup_list .carlineup_col4_3 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4_3.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col1 {
	width: 183px;
	background: url(/carlineup/img/lineup_jyoyousha_box1.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col2 {
	width: 372px;
	background: url(/carlineup/img/lineup_jyoyousha_box2.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col3 {
	width: 561px;
	background: url(/carlineup/img/lineup_jyoyousha_box3.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col4 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col4_2 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4_2.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_col4_3 {
	width: 750px;
	background: url(/carlineup/img/lineup_jyoyousha_box4_3.gif) no-repeat left top;
}
#carlineup_list .carlineup_row1 {
	height: 192px;
}
#carlineup_list .carlineup_row2 {
	height: 405px;
} /*441px*/
#carlineup_list .carlineup_row3 {
	height: 628px;
} /*441px*/
#lowdisp #carlineup_list section {
	padding-top: 39px;
}
/* 車種一覧 */
#carlineup_list .carlineup_levorg {
	background: url(/carlineup/img/cars/tit_levorg.png) no-repeat left top;
}
#carlineup_list .carlineup_legacy {
	background: url(/carlineup/img/cars/tit_legacy.png) no-repeat left top;
}
#carlineup_list .carlineup_xv {
	background: url(/carlineup/img/cars/tit_xv.png) no-repeat left top;
}
#carlineup_list .carlineup_forester {
	background: url(/carlineup/img/cars/tit_forester.png) no-repeat left top;
}
#carlineup_list .carlineup_brz {
	background: url(/carlineup/img/cars/tit_brz.png) no-repeat left top;
}
#carlineup_list .carlineup_impreza {
	background: url(/carlineup/img/cars/tit_impreza.png) no-repeat left top;
}
#carlineup_list .carlineup_exiga {
	background: url(/carlineup/img/cars/tit_exiga.png) no-repeat left top;
}
#carlineup_list .carlineup_wrxsti {
	background: url(/carlineup/img/cars/tit_wrx.png) no-repeat left top;
}
#carlineup_list .carlineup_trezia {
	background: url(/carlineup/img/cars/tit_trezia.png) no-repeat left top;
}
#carlineup_list .carlineup_justy {
	background: url(/carlineup/img/cars/tit_justy.png) no-repeat left top;
}
#carlineup_list .carlineup_welfare {
	background: url(/carlineup/img/cars/tit_transcare.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_levorg {
	background: url(/carlineup/img/cars/tit_levorg.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_legacy {
	background: url(/carlineup/img/tit_legacy.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_xv {
	background: url(/carlineup/img/tit_xv.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_forester {
	background: url(/carlineup/img/tit_forester.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_brz {
	background: url(/carlineup/img/tit_brz.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_impreza {
	background: url(/carlineup/img/tit_impreza.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_exiga {
	background: url(/carlineup/img/tit_exiga.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_wrxsti {
	background: url(/carlineup/img/tit_wrx.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_trezia {
	background: url(/carlineup/img/tit_trezia.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_welfare {
	background: url(/carlineup/img/tit_transcare.gif) no-repeat left top;
}
/* ボディタイプ */
#carlineup_list .carlineup_wagon {
	background: url(/carlineup/img/tit_wagon.png) no-repeat left top;
}
#carlineup_list .carlineup_sedan {
	background: url(/carlineup/img/tit_sedan.png) no-repeat left top;
}
#carlineup_list .carlineup_minivan {
	background: url(/carlineup/img/tit_minivan.png) no-repeat left top;
}
#carlineup_list .carlineup_suv {
	background: url(/carlineup/img/tit_suv.png) no-repeat left top;
}
#carlineup_list .carlineup_compact {
	background: url(/carlineup/img/tit_compact.png) no-repeat left top;
}
#carlineup_list .carlineup_sports {
	background: url(/carlineup/img/tit_sports.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_wagon {
	background: url(/carlineup/img/tit_wagon.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_sedan {
	background: url(/carlineup/img/tit_sedan.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_minivan {
	background: url(/carlineup/img/tit_minivan.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_suv {
	background: url(/carlineup/img/tit_suv.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_compact {
	background: url(/carlineup/img/tit_compact.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_sports {
	background: url(/carlineup/img/tit_sports.gif) no-repeat left top;
}
/* 排気量 */
#carlineup_list .carlineup_3600cc {
	background: url(/carlineup/img/tit_3600cc.png) no-repeat left top;
}
#carlineup_list .carlineup_2500cc_turbo {
	background: url(/carlineup/img/tit_2500cc_turbo.png) no-repeat left top;
}
#carlineup_list .carlineup_2500cc {
	background: url(/carlineup/img/tit_2500cc.png) no-repeat left top;
}
#carlineup_list .carlineup_2000cc_turbo {
	background: url(/carlineup/img/tit_2000cc_turbo.png) no-repeat left top;
}
#carlineup_list .carlineup_2000cc {
	background: url(/carlineup/img/tit_2000cc.png) no-repeat left top;
}
#carlineup_list .carlineup_1600cc_turbo {
	background: url(/carlineup/img/tit_1600cc_turbo.png) no-repeat left top;
}
#carlineup_list .carlineup_1600cc {
	background: url(/carlineup/img/tit_1600cc.png) no-repeat left top;
}
#carlineup_list .carlineup_1500cc {
	background: url(/carlineup/img/tit_1500cc.png) no-repeat left top;
}
#carlineup_list .carlineup_1300cc {
	background: url(/carlineup/img/tit_1300cc.png) no-repeat left top;
}
#carlineup_list .carlineup_1000cc {
	background: url(/carlineup/img/tit_1000cc.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_3600cc {
	background: url(/carlineup/img/tit_3600cc.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_2500cc_turbo {
	background: url(/carlineup/img/tit_2500cc_turbo.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_2500cc {
	background: url(/carlineup/img/tit_2500cc.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_2000cc_turbo {
	background: url(/carlineup/img/tit_2000cc_turbo.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_2000cc {
	background: url(/carlineup/img/tit_2000cc.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_1600cc_turbo {
	background: url(/carlineup/img/tit_1600cc_turbo.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_1600cc {
	background: url(/carlineup/img/tit_1600cc.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_1500cc {
	background: url(/carlineup/img/tit_1500cc.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_1300cc {
	background: url(/carlineup/img/tit_1300cc.gif) no-repeat left top;
}
/* アイサイト */
#carlineup_list .carlineup_eyesight {
	background: url(/carlineup/img/tit_eyesight.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_eyesight {
	background: url(/carlineup/img/tit_eyesight.gif) no-repeat left top;
}
/* 軽自動車 */
#carlineup_list .carlineup_lucra {
	background: url(/carlineup/img/bg_lucra.png) no-repeat left top;
}
#carlineup_list .carlineup_chiffon {
	background: url(/carlineup/img/bg_chiffon.png) no-repeat left top;
}
#carlineup_list .carlineup_stella {
	background: url(/carlineup/img/bg_stella.png) no-repeat left top;
}
#carlineup_list .carlineup_pleo {
	background: url(/carlineup/img/bg_pleo.png) no-repeat left top;
}
#carlineup_list .carlineup_diaswagon {
	background: url(/carlineup/img/bg_diaswagon.png) no-repeat left top;
}
#carlineup_list .carlineup_sambar {
	background: url(/carlineup/img/bg_sambar.png) no-repeat left top;
}
#carlineup_list .carlineup_welfare_l {
	background: url(/carlineup/img/bg_welfare_l.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_lucra {
	background: url(/carlineup/img/bg_lucra.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_chiffon {
	background: url(/carlineup/img/bg_chiffon.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_stella {
	background: url(/carlineup/img/bg_stella.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_pleo {
	background: url(/carlineup/img/bg_pleo.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_diaswagon {
	background: url(/carlineup/img/bg_diaswagon.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_sambar {
	background: url(/carlineup/img/bg_sambar.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_welfare_l {
	background: url(/carlineup/img/bg_welfare_l.gif) no-repeat left top;
}
/* 軽自動車 ボディタイプ */
#carlineup_list .carlineup_lowbody0 {
	background: url(/carlineup/img/bg_lowbody0.png) no-repeat left top;
}
#carlineup_list .carlineup_lowbody1 {
	background: url(/carlineup/img/bg_lowbody1.png) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_lowbody0 {
	background: url(/carlineup/img/bg_lowbody0.gif) no-repeat left top;
}
.ie6 #carlineup_list .carlineup_lowbody1 {
	background: url(/carlineup/img/bg_lowbody1.gif) no-repeat left top;
}
/* ランキング、インフォ、サポートナビ */
#carlineup_side {
	float: right;
	width: 220px;
	position: relative;
}
#carlineup_change {
	margin-bottom: 33px;
	margin-top: -26px;
}
#lowdisp #carlineup_change {
	margin-bottom: 33px;
	margin-top: -18px;
}
#banner_shijo {
	margin-bottom: 15px;
	position: relative;
	top: 0;
	left: -2px;
}
#kei_top {
	margin-bottom: 33px;
	position: relative;
	top: 0;
	left: -5px;
}
#carlineup_ranking ol, #carlineup_carinfo ul {
	background: #FFF url(/carlineup/img/bg_side.png) repeat-x left bottom;
}
#carlineup_ranking ol {
	padding: 5px 0;
}
#carlineup_carinfo ul {
	padding: 10px 10px 0 10px;
}
#carlineup_ranking li, #carlineup_carinfo li {
	list-style: none;
}
#carlineup_carinfo li {
	padding-bottom: 10px;
}
#carlineup_carinfo li time {
	color: #939393;
	padding-bottom: 4px;
	display: inline-block;
}
.ie6 #carlineup_carinfo li time, .ie7 #carlineup_carinfo li time {
	display: inline;
	zoom: 1;
}
#carlineup_carinfo a {
	color: #000;
	text-decoration: none;
}
#carlineup_carinfo a:hover {
	text-decoration: underline;
}
#carlineup_carinfo li img {
	padding-top: 5px;
}
#carlineup_suportnavi {
	margin-top: 40px;
	background-color: #151a1d;
}
#carlineup_suportnavi .cf li {
	float: left;
}
#carlineup_suportmenu {
	margin: 10px;
}
.ie6 #carlineup_suportmenu, .ie7 #carlineup_suportmenu {
	margin-top: 0;
}
#carlineup_suportmenu li a {
	display: block;
	height: 22px;
	padding: 1px 0 5px 22px;
	font-size: 14px;
	color: #fff;
	text-decoration: underline;
	background: url(/carlineup/img/bg_carinfo.png) no-repeat left top;
}
#carlineup_suportmenu li a:hover {
	background: url(/carlineup/img/bg_carinfo_o.png) no-repeat left top;
	text-decoration: none;
}
