

/*common reset*/
* {
	margin: 0;
	padding: 0;
}
.default_font_family,  body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
#container {
	min-width: 1000px;
	width: 100%;
	background: url(../../common/img/head_menu_bg.png) repeat-x;
	background-position: 0px -5px;
	padding: 0px 0 0;
}
/*PC menu
-------------------------------------------------*/
.menu_region {
	padding: 0px 0 0;
	background: #eee;
}
.lineup_menu_area {
	width: 100%;
	height: 80px;
	margin: 0;
	z-index: 1000;
	background: #fff;
}
.lineup_menu_area.noNavi {
	height: 0px;
}
.lineup_menu_area .outbox {
	position: relative;
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.lineup_menu_area h1 {
	width: 200px;
	height: 60px;
	position: absolute;
	top: -80px;
	left: 50%;
	margin: 10px 0 0 -140px;
	z-index: 290;
	cursor: pointer;
}
.lineup_menu_area nav {
	position: relative;
	background: #fff;
	width: 100%;
	height: 80px;
	max-width: 1200px;
	margin: 0px auto;
	border: 0;
	top: auto;
	left: auto;
}
.lineup_menu_area nav .menu_block {
	width: 100%;
	height: 80px;
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 8;
}
.lineup_menu_area nav .mainmenu {
	display: inline-block;
	height: 40px;
	width: 40%;
}
.top_arrow {
	position: absolute;
	top: -5px;
	left: 50%;
	margin: 0 0 0 -12px;
	display: none;
}
.mainmenu.last {
	margin: 0!important;
}
.mainmenu {
	position: relative;
	z-index: 100;
}
.lineup_menu_area a.menubtn {
	display: block;
	height: 55px;
	cursor: pointer;
	padding: 27px 0 0;
}
.lineup_menu_area .mon::after {
	content: url(/menutest/img/common/arrow_top1.png);
	position: absolute;
	top: -5px;
	left: 50%;
	margin: 0 0 0 -12px;
	display: block;
}
.lineup_menu_area .main_btn {
	height: 15px;
	width: 100px;
	position: relative;
	overflow: hidden;
	margin: 5px auto 0 auto;
	text-align: left;
}
.lineup_menu_area .mainmenu .main_btn img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
}
.lineup_menu_area .mainmenu .menubtn:hover .main_btn img, .carlineupIndex .lineup_menu_area .mainmenu#naviIndex .main_btn img, .carlineupLowdisp .lineup_menu_area .mainmenu#naviLowdisp .main_btn img {
	top: -17px;
}
.carlineupIndex .lineup_menu_area .mainmenu#naviIndex:before, .carlineupLowdisp .lineup_menu_area .mainmenu#naviLowdisp:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 13px;
	background: url(/common/img/arrow_top1.png);
	position: absolute;
	left: 47.5%;
	top: 0px;
}
/*////pulldown menu////*/
.lineup_menu_area .submenu {
	position: absolute;
	top: 80px;
	background: #fff;
	border : 6px solid #eee;
	border-radius: 10px;
	z-index: 100;
	display: none;
	box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
}
.pankz {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0 10px 0;
}
.pankz.noNavi {
	padding-bottom: 10px;
}

@media screen and (min-width:1200px) {
.lineup_menu_area .outbox {
	width: 1200px;
}
}

@media screen and (max-width:1200px) {
.lineup_menu_area .outbox {
	width: 990px;
}
.lineup_menu_area nav .mainmenu {
}
}
